:root {
  --annotation-color: #444;
}

.annotation path {
  stroke: var(--annotation-color);
  fill: none;
}

.annotation text,
.annotation .annotation-connector .connector-dot,
.annotation path.connector-arrow,
.annotation.callout.rect path.subject {
  fill: var(--annotation-color);
  font-size: .8em;
}

.networkZoom .annotation text {
  text-anchor: end;
}

.annotation .annotation-connector path,
.annotation.callout.rect path.subject {
  stroke-dasharray: 1, 3;
}

.annotation-note-title {
  font-weight: bold;
}

.annotation-note-bg {
  fill: rgba(0, 0, 0, 0);
}

.annotation.callout.rect path.subject {
  fill-opacity: 0;
}

.annotation.badge path.subject-pointer,
.annotation.badge path.subject {
  fill: var(--annotation-color);
  stroke-width: 3px;
  stroke-linecap: round;
}

.annotation.badge path.subject-ring {
  fill: white;
  stroke-width: 3px;
}

.annotation.badge .badge-text {
  fill: white;
  font-size: .7em;
}

/* Handling edit mode styles */
.editable .annotation-subject,
.editable .annotation-note {
  cursor: move;
}

circle.handle {
  stroke-dasharray: 5;
  stroke: var(--annotation-color);
  fill: rgba(255, 255, 255, .2);
  cursor: move;

  stroke-opacity: .4;
}

.note-line {
  display: none;
}
