body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 100;
}

.active-filter .bundle-file-info {
  opacity: 0.5;
  filter: grayscale(100%);
}

.active-filter .selected.bundle-file-info {
  opacity: 1;
  filter: grayscale(0);
}
.bundle-file-info {
  cursor: pointer;
}

.bundle-file-name {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: left;
}

td.left-ellipse {
  text-align: left;
  direction: rtl;
}

.light-font {
  font-weight: 100;
}

.sidebar {
  border-right: solid 1px #d3d3d3;
  padding-right: 25px;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 2rem;
}

.bottombar {
  border-top: solid 1px #d3d3d3;
}

.main-panel {
  height: 100vh;
  overflow-y: scroll;
}

.App.container-fluid {
  padding: 0;
}

.legend {
  font-size: 11px;
}

.legend .legendTitle {
  font-weight: 900;
}

.sizeLegend circle {
  fill: #cfd8dc;
}

.networkAnalysis {
  height: 600;
}

g.links line {
  opacity: .1;
}

g.links line.active,
g.links line.activeSource {
  opacity: 1;
}

.inactiveSource,
.inactive {
  opacity: .2;
}

.sourceView {
  table-layout: fixed;
  width: 100px;
}
.sourceView > thead > th:first-child {
  width: 40px;
}
.sourceView pre {
  margin: 0;
}
.sourceView td:first-child {
  border-right: 3px solid;
  padding-right: 5px;
  font-size: 10px;
  color: #666;
  text-align: right;
}

.source-details {
  display: flex;
}

.source-container { 
  height: 500px;
  overflow: scroll;
}