body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.active-filter .bundle-file-info {
  opacity: 0.5;
  filter: grayscale(100%);
}

.active-filter .selected.bundle-file-info {
  opacity: 1;
  filter: grayscale(0);
}
.bundle-file-info {
  cursor: pointer;
}

.bundle-file-name {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: left;
}

td.left-ellipse {
  text-align: left;
  direction: rtl;
}

.inactive {
  opacity: .1;
}

.sidebar {
  border-right: solid 1px #d3d3d3;
  padding-right: 25px;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 2rem;
}

.bottombar {
  border-top: solid 1px #d3d3d3;
}

.main-panel {
  height: 100vh;
  overflow-y: scroll;
}

.App.container-fluid {
  padding: 0;
}