:root {
  --primary-color: #7AF1E9;
  --link-color: darkblue;
  --margin-left: 90px;
  --panel-width: 260px;
  --side-panel-width: 100px;
  --total-width: 580px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 100;
  font-size: 36px;
}

.pointer, a {
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

svg {
  overflow: hidden;
}

.overflow-hidden .visualization-layer {
  position: inherit !important;
}

.overflow-visible svg, .overflow-visible {
  overflow: visible;
}

.flex {
  display: flex;
}

.App {
  width: 100vw;
}

.App-header {
  height: 170px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

img.icon {
  margin-bottom: -3px;
  margin-right: 10px;
  height: 1em;
}

.logo {
  position: absolute;
  left: -70px;
  top: 15px;
}

.panel {
  width: var(--panel-width);
  min-width: 260px;
  border-right: 1px solid #ddd;
  padding-left: var(--margin-left);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.no-border {
  border: none;
}

.top-border {
  border-top: 1px solid #ddd;
}

.padding {
  padding: 20px;
}

.side-panel {
  padding: 20px;
}

.side-panel.left {
  width: 100px;
  min-width: 100px;
}

.side-panel {
  width: var(--side-panel-width);
  min-width: 100px;
  padding: 20px;
}

.side-panel.right {
  width: calc(100vw - var(--total-width));
  overflow-x: auto;
  min-width: 100px;
}

.sticky {
  position: sticky;
}

.bottom {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

a {
  color: var(--link-color);
}

button {
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.col-container {
  display: flex;
  padding: 0 25px;
}

.col-container div {
  flex: 1;
}

.type-button {
  min-width: 140px;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

.webpack-logo {
  width: 150px;
  margin: -20px -14px;
}

img.rollup-logo {
  height: 36px;
  margin: -10px 0;
}

button.rollup-import {
  text-align: left;
  font-size: 17px;
}

.bottom-panel {
  height: 60vh;
  position: fixed;
  width: 100vw;
  bottom: 0px;
  background: white;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}
.no-link-underline {
  text-decoration: none;
}
