:root {
  --primary-color: #7AF1E9;
  --link-color: darkblue;
  --margin-left: 60px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 100;
  font-size: 36px;
}

.pointer, a {
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 40px;
}

.capitalize {
  text-transform: capitalize;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

svg {
  overflow: hidden;
}

.overflow-hidden .visualization-layer {
  position: inherit !important;
}

.flex {
  display: flex;
}

.App-header {
  height: 170px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.panel {
  width: 260px;
  min-width: 260px;
  border-right: 1px solid #ddd;
  padding-left: var(--margin-left);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.sticky {
  position: sticky;
}

.bottom {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

a {
  color: var(--link-color);
}
