* {
  box-sizing: border-box;
}

:root {
  --primary-color: #b42dd6;
  --link-color: darkblue;
  --margin-left: 90px;
  /* --panel-width: 260px; */
  --side-panel-width: 100px;
  --total-width: 580px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: 300;
  font-size: 36px;
}

.primary {
  color: var(--primary-color);
}

.pointer, a {
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 40px;
}

.padding-right {
  padding-right: 15px;
}

.inline-block {
  display: inline-block;
}

.capitalize {
  text-transform: capitalize;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

svg {
  overflow: hidden;
}

.overflow-hidden .visualization-layer {
  position: inherit !important;
}

.overflow-visible svg, .overflow-visible {
  overflow: visible;
}

.flex {
  display: flex;
}

.App {
  width: 100vw;
}

.App-header {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.App-header h1 {
  margin: 0;
}

.App-header .nav {
  font-size: 15px;
  text-decoration: none;
}

.App-header .nav a {
  text-decoration: none;
  padding-right: 10px;
  font-weight: bold;
  color: black;
}

/* .flex.nav {
  align-content: center;
} */

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img.icon {
  margin-bottom: -3px;
  margin-right: 10px;
  height: 1em;
}

.baseline {
  align-items: center;
}

.logo {
  /* margin-top: 10px; */
  margin-right: 10px;
}

.left-col {
  border-right: 1px solid #ddd;
  width: 30vw;
}

.panel {
  /* width: var(--panel-width); */
  /* min-width: 260px; */
  /* width: 30%; */
  width: 25vw;
  border-right: 1px solid #ddd;
  padding-right: 20px;
  padding-left: 25px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.top-panel {
  border-bottom: 1px solid #ddd;
  max-height: 350px;
  overflow: hidden;
}

.panel.large {
  width: 75vw;
}

.panel.left-side {
  padding-left: var(--margin-left);
}

.no-border {
  border: none;
}

.top-border {
  border-top: 1px solid #ddd;
}

.padding {
  padding: 20px;
}

.scroll-y {
  overflow-y: auto;
}

.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 300;
}

.bottom {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

a {
  color: var(--link-color);
}

button {
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}

button.copy-button {
  background-image: url(/img/copy_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: none;
  display: inline-block;
  opacity: 0.2;
  position: absolute;
  left: calc(100% - 40px);
  top: 100%;
  margin-top: -30px;
}

button.copy-button:hover {
  opacity: 0.4;
}

button.clear {
  box-shadow: none;
}

button.good {
  background: #1db1a4;
  color:white;
}

.resolved {
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid #ccc;
  width: 100%;
  margin-left: -20px;
  padding-left: 20px;
}

.resolved-message {
  margin: 10px;
}

.resolved-message, .resolved-message button {
  font-size: 1.2em;
  font-weight: 300;
}



.col-container {
  display: flex;
}

.col-container div {
  /* flex: 1; */
  /* border-right: solid 2px transparent;
  border-left: solid 2px transparent; */
}

.col-container .col-narrow {
  flex: 0.25;
}

.type-button {
  min-width: 140px;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

.webpack-logo {
  width: 150px;
  margin: -20px -14px;
}

img.rollup-logo {
  height: 36px;
  margin: -10px 0;
}

button.rollup-import {
  text-align: left;
  font-size: 17px;
}

.no-link-underline {
  text-decoration: none;
}
code {
  background: #F5F5F5;
  display: block;
  padding: 15px;
  border: solid 1px #ddd;
  position: relative;
}

pre {
  margin: 0;
  padding: 0;
}

.add-diff {
  font-weight: bold;
  background: #BCFFCF;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: transparent;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input.search, button.clear {
  font-size: 15px;
}

.upload-files-container div {
  margin: 10px 0;
}

.upload-files-container button {
  width: 150px;
}

.attach-icon {
  opacity: 0.4;
  height: 20px;
  position: absolute;
  left: 10px;
  top: 5px;
}

.status-icon {
  height: 24px;
  position: relative;
  top: 7px;
  margin-left: 7px;
}

.error {
  background: #ff988b;
  padding: 10px;
  padding: 10px;
  border: solid 2px #c55c5c;
  white-space: pre-wrap;
  font-size: 12px;
}

.resolve-conflicts li {
  font-size: 11px;
}

.resolve-conflicts ul {
  height: 600px;
  overflow: auto;
}

.code-editor {
  width: 400px;
  height: 150px;
}

.opacity-filter.off {
  transition: opacity 0.3s;
  transition-delay: 0.2s;
  opacity: 0;
}

.opacity-filter.on {
  opacity: 0.6;
}

.treemap__node {
  position: absolute;
  border-radius: 2px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(105, 105, 105);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.treemap__label {
  box-sizing: border-box;
  font-size: 12px;
  white-space: nowrap;
  padding-left: 4px;
  transform: translate(1px, 1px);
}

.treemap__label--children {
  background-color: rgba(255, 255, 255, 0.15);
}

.treemap__label--children:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}
